header{
display: flex;
height: 13vh;  
width: 100%;
padding: 2rem;
}

nav{
    display: flex;
    width: 100%;
    justify-content: left;
    list-style: none;
    align-items: center;    
}

.esquerda{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;    
}

a:link {
    color: #4A5568;
    text-decoration:none;
}
.direita{
    display: flex;
    width: 100%;
    padding-left: 43rem;
    justify-content: space-evenly;
    
}
ul{
    display: flex;
    list-style: none;
    text-decoration:none;
}
li{
    list-style: none;    
    text-decoration: none;   
    padding-left: 1rem;
}

h1{
    color: #4A5568;
}